In [1]:
import numpy as np
import pandas as pd

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [4]:
train_df = pd.read_csv('test.csv')
test_df = pd.read_csv('test.csv')

In [8]:
test_df.drop(columns=[
    'Name',
    'Ticket',
    'Fare',
    'Cabin',
    'PassengerId',
], inplace=True)
train_df.columns

KeyError: "['Name' 'Ticket' 'Fare' 'Cabin' 'PassengerId'] not found in axis"

In [23]:
test_df.drop(columns=[
    'Name',
    'Ticket',
    'Fare',
    'Cabin',
    'PassengerId',
], inplace=True)

test_df['Sex'] = test_df['Sex'].map({ 'male': 0, 'female': 1 }).astype(int)

emb_df = pd.get_dummies(test_df.Embarked, prefix='Embarked')
pclass_df = pd.get_dummies(test_df.Pclass, prefix='Pclass')

test_df = test_df.drop(columns=['Embarked', 'Pclass'])
test_df = test_df.join([emb_df, pclass_df])

mean_age = train_df['Age'].dropna().mean()
print('mean_age', mean_age)

test_df['Age'].fillna(mean_age, inplace=True)
train_df.head()

mean_age 30.272590361445783

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [24]:
classificator = LogisticRegression(max_iter = 1000)
train_df.head()
#classificator.fit(train_df, )

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S